.nav {
	background-color: white;
}
.container {
	position: relative;
	max-width: 100%;
}
.container .App-logo {
	width: 200px;
	height: auto;
}
.container .img {
	width: 100%;
	height: auto;
	opacity: 0.5;
	position: relative;
	width: 100%;
	height: 420px;
	overflow: hidden;
}
.container1 {
	position: relative;
	height: 600px;
	overflow: hidden;
}
.container1 img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	transition: transform 1s ease-in-out;
	filter: brightness(60%);
}
.container1 img:first-child {
	transform: translateX(0);
}

.container1 img:last-child {
	transform: translateX(100%);
}

.container1:hover img:first-child {
	transform: translateX(-100%);
}

.container1:hover img:last-child {
	transform: translateX(0);
}

.container .home-page {
	position: absolute;
	color: rgb(221, 221, 233);
	display: flex;
	justify-content: center;
	margin-top: 100px;
	font-size: 400%;
	top: 20%;
	left: 20%;
}
.container .btn {
	position: absolute;
	top: 60%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	background-color: #3f409b;
	color: rgb(250, 244, 244);
	font-size: 30px;
	padding: 16px 30px;
	border: none;
	cursor: pointer;
	border-radius: 20px;
	text-align: center;
}

.container .btn:hover {
	background-color: rgb(37, 6, 124);
	color: rgb(207, 199, 226);
}
