.banner-image{
	/* height: 35em; */
	object-fit: fill;
	filter: brightness(40%);
}
.banner-login{
	position: absolute;
	top: 60%;
	left: 35%;
color: white;
	font-size: 50px;
	
	text-align: center;
	

}
.banner-login h3{
	font-size: 3rem;
	/* position: relative;
	left: 0.3%; */
}
