.container {
	position: relative;
	max-width: 100%;
}
.container .App-logo {
	width: 200px;
	height: auto;
}
.container .img {
	width: 100%;
	height: auto;
	opacity: 0.5;
	position: relative;
	width: 100%;
	height: 420px;
	overflow: hidden;
}
.container1 {
	position: relative;
	height: 570px;
	overflow: hidden;
}
.container1 img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	transition: transform 1s ease-in-out;
	filter: brightness(60%);
}
.container1 img:first-child {
	transform: translateX(0);
}

.container1 img:last-child {
	transform: translateX(100%);
}

.container1:hover img:first-child {
	transform: translateX(-100%);
}

.container1:hover img:last-child {
	transform: translateX(0);
}

.container .home-page {
	position: absolute;
	color: rgb(244, 244, 248);
	display: flex;
	justify-content: center;
	margin-top: 100px;
	font-size: 300%;
	top: 30%;
	left: 25%;
}
.container .gitbtn {
	position: absolute;
	top: 65%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	background-color: rgb(31, 79, 236);
	font-size: 25px;
	padding: 12px 17px;
	border: none;
	cursor: pointer;
	border-radius: 5px;
	text-align: center;
	
}
.container a{
	color:white;
	text-decoration: none;
}

.container .btn:hover {
	background-color: rgb(3, 44, 97);
	color: rgb(207, 199, 226);
}
.nav-links {
	display: flex;
	justify-content: flex-end;
	list-style: none;
	margin: 0;
	padding: 0;
}

.nav-links li {
	margin: 0 5px;
	margin-right: 50px;
	font-size: 200%;
	position: relative;
}
