/* General styles for all screen sizes */
.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: rgba(236, 236, 245, 0.986);
}

.row h1{
  text-align: center;
  font-family: serif;
  font-size: 40px;
  margin-top: 40px;
}

.row h2, h3{
  margin-bottom: 10px;
  font-size: 40px;
  font-family: serif;
  text-align: center;
}
.row h3{
  margin-bottom: 30px;
  margin-top: 20px;
}

.row p{
  font-size: 25px;
  font-family: serif;
  margin-bottom: 40px;
}

.column {
  margin-bottom: 1rem;
  padding-right: -10px;
  font-family: serif;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 5px;
  text-align: center;
  background-color: #a59696;
  height: 100%;
  width: 100%;
}

.card img {
  max-width: 250%;
}

.primary {
  background-color: #f4f5fd;
  color: rgb(12, 11, 11);
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1rem;
  margin: 1rem 1rem;
  cursor: pointer;
  font-family: 50px;
}

.primary:hover {
  background-color: #e2e4f1;
}
/* For screens between 600px and 900px */
@media screen and (min-width: 600px) and (max-width: 900px) {
  .row {
    padding-left: 50px;
    padding-right: 50px;
  }
  
  .column {
    flex-basis: 50%;
  }
}

/* For screens larger than 900px */
@media screen and (min-width: 900px) {
  .row {
    padding-left: 150px;
    padding-right: 100px;
  }
  
  .column {
    flex-basis: 25%;
  }
}

