table {
	border-collapse: collapse;
	width: 100%;
}

table th,
table td {
	border: 1px solid #ddd;
	padding: 8px;
	text-align: left;
}

table th {
	background-color: #f2f2f2;
}

select {
	width: 100%;
	padding: 8px 16px;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
	margin-top: 4px;
	margin-bottom: 8px;
}

input[type="text"] {
	width: 100%;
	padding: 8px 16px;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
	margin-top: 4px;
	margin-bottom: 8px;
}

button {
	background-color: #dc3545;
	color: white;
	padding: 8px 16px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}

button:hover {
	background-color: #ac3112;
}

/* Small screens */
@media only screen and (max-width: 600px) {
	table th, table td {
	  padding: 4px;
	}
  
	select, input[type="text"], button {
	  padding: 4px 8px;
	  font-size: 14px;
	}
  }
  
  /* Medium screens */
  @media only screen and (min-width: 601px) and (max-width: 900px) {
	table th, table td {
	  padding: 6px;
	}
  
	select, input[type="text"], button {
	  padding: 6px 12px;
	  font-size: 16px;
	}
  }
  
  /* Large screens */
  @media only screen and (min-width: 901px) {
	table th, table td {
	  padding: 8px;
	}
  
	select, input[type="text"], button {
	  padding: 8px 16px;
	  font-size: 18px;
	}
  }
  
