.body {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

.login-form {
	width: 40%;
	max-width: 400px;
	margin: auto;
	text-align: center;
}

.first-line {
	margin-top: 0.4rem;
}

.email {
	margin-top: 1rem;
	margin-bottom: 1rem;
}

input[type="email"],
input[type="Password"] {
	width: 90%;
	padding: 1rem;
	font-size: 1rem;
	border: groove;
	border-bottom: 1px solid #ccc;
}

button.button {
	display: block;
	width: 100%;
	padding: 1rem;
	margin-top: 1rem;
	font-size: 1.2rem;
	font-weight: bold;
	color: #fff;
	background-color: rgb(31, 79, 236);
	border: none;
	border-radius: 0.25rem;
	cursor: pointer;
}

button.button:hover {
	background-color: rgb(25, 80, 153);
}
.gitbtn {
	display: block;
	width: 100%;
	padding: 1rem;
	margin-top: 1rem;
	font-size: 1.2rem;
	font-weight: bold;
	background-color: rgb(31, 79, 236);
	border: none;
	border-radius: 0.25rem;
	cursor: pointer;
}
.gitbtn.gitbtn:hover {
	background-color: rgb(25, 80, 153);
	color: white;
}
a {
	text-decoration: none;
	color: white;
}

@media screen and (min-width: 768px) {
	.login-form {
		width: 50%;
	}
}
